<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>오늘의 건강 설문</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="survey-box"> 
            <h2>{{ user.username }}님, 오늘 하루를 기록해 볼까요?</h2>
            
            <form method="post">
                {% csrf_token %}
                
                {{ form.as_p }} 
                
                <button type="submit">제출하고 피드백 받기</button>
            </form>
            
        </div>
        
        <hr>
        <p>
            <a href="{% url 'logout' %}">**로그아웃**</a> |
            <a href="/">메인 페이지로 돌아가기</a>
        </p>
    </div>
</body>
</html>

{% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


<body>
    <div class="container">
        </div>
</body>