/* static/css/style.css */

body {
    background-color: #f4f7f6; 
    font-family: Arial, sans-serif;
    color: #333; 
    padding-top: 50px;
    
}

h1, h2 {
    color: #4CAF50; 
    text-align: center;
}

.container {
    width: 90%; 
    max-width: 800px; 
    margin: 0 auto; 
    
    background: white; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.survey-box {
    margin-top: 20px;
    padding: 30px;
    border: 2px solid #ddd; 
    border-radius: 12px; 
    background-color: #f9f9f9; 
    box-shadow: none;
}
.survey-box label {
    display: block; 
    font-size: 1.2em; 
    font-weight: bold; 
    color: #388E3C; 
    margin-top: 25px;
    margin-bottom: 10px; 
    text-align: left;
}
.survey-box p {
    text-align: center; 
    margin-bottom: 30px; 
}
.survey-box input[type="radio"] {
    margin-left: 15px; 
}
.survey-box button[type="submit"] {
    background-color: #4CAF50; 
    color: white; 
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.survey-box button[type="submit"]:hover {
    background-color: #45a049;
}